name: CI Pipeline

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main, dev]

jobs:
  validate:
    uses: ./.github/workflows/_tests.yml
    secrets:
      SecretKey: ${{ secrets.SecretKey }}