name: Production Release

on:
  push:
    branches: [main]

jobs:
  test-before-release:
    uses: ./.github/workflows/_tests.yml
    secrets:
      SecretKey: ${{ secrets.SecretKey }}

  create-release:
    needs: test-before-release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: published-app
          path: ./app-bin
     
      - name: Zip Artifact for Release
        run: zip -r cooking-blog-api.zip ./app-bin
      
      - name: Conventional Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-user-name: "github-actions[bot]"
          git-user-email: "github-actions[bot]@users.noreply.github.com"
          output-file: "CHANGELOG.md"
          tag-prefix: "v"
          skip-version-file: "true"
          skip-on-empty: "false"
          skip-commit: "false"
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: steps.changelog.outputs.skipped == 'false'
        with:
          body: ${{ steps.changelog.outputs.clean_changelog }}
          tag_name: ${{ steps.changelog.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          files: cooking-blog-api.zip